:root {
    --primary-color: #3368d1;
    --secondary-color: #214282;

    --background-color: #f9f9f9;
    --text-color: #333;
    --info-box-background-color: #e8effd;

    --toggle-size: 28px;
    --toggle-width: calc(var(--toggle-size) * 1.75);
    --toggle-slider-size: calc(var(--toggle-size) - 8px);
    --toggle-slider-color: white;
    --toggle-on-color: var(--primary-color);
    --toggle-off-color: #ccc;
}

/* General Styles */

*::selection {
    background-color: var(--primary-color);
    color: white;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 20px;
    width: 250px;
    text-align: center;
    user-select: none;
}

h1 {
    font-size: 18px;
    color: var(--primary-color);
    margin-bottom: 20px;
    margin-top: 0;
}

.selectable {
    user-select: text;
}

/* Toggle Styles */

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px #00000026;
}

.toggle-label {
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    position: relative;
    display: inline-block;
    width: var(--toggle-width);
    height: var(--toggle-size);
}

#toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--toggle-off-color);
    border-radius: calc(var(--toggle-size) / 2);
    transition: transform 0.2s ease-out;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: var(--toggle-slider-size);
    width: var(--toggle-slider-size);
    left: 4px;
    bottom: 4px;
    background-color: var(--toggle-slider-color);
    border-radius: 50%;
    transition: transform 0.2s ease-out;
}

.no-transition .toggle-slider,
.no-transition .toggle-slider:before {
    transition: none !important;
}

#toggle-input:checked + .toggle-slider {
    background-color: var(--toggle-on-color);
}

#toggle-input + .toggle-slider {
    outline: solid 10px transparent;
}

#toggle-input:focus-visible + .toggle-slider {
    outline: solid 4px var(--primary-color);
    outline-offset: 2px;
    transition: outline 0.2s ease-out;
}

#toggle-input:checked + .toggle-slider:before {
    transform: translateX(calc(var(--toggle-width) - var(--toggle-slider-size) - 8px));
}

/* Info Box */

.info-box {
    background-color: var(--info-box-background-color);
    color: var(--secondary-color);
    border-left: 4px solid var(--primary-color);
    padding: 1px 10px;
    border-radius: 5px;
    font-size: 12px;
    text-align: left;
    line-height: 1.4;
}
